.artwork-container-div {
    margin: 20px 44px 0px 32px;
    border: 1px solid #E8DAFF;
}

.preview-text{
    color: #3A57E8;
    cursor: pointer;
}

.artwork-subheader{
    color: white;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
}

.mantine-Modal-modal{
    background-color: transparent !important;
}

.mantine-Modal-close{
    color: white;
    &:hover{
        color: black;
    }
}

.mantine-Modal-title{
    color: white;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
}